<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Venda</title>
    <link rel="stylesheet" href="/apps/pvd/styles/base.css">
</head>

<body>
    <header>
        <div class="logo">AAPM</div>
        <nav>
            <ul>
                <li><a href="base.html">Produtos</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Carrinho</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <!-- Card 1 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Título do Produto 1</h2>
                <p class="card-description">Descrição.</p>
                <button class="card-button">Adicionar carrinho</button>
                <input type="file" name="foto_produto" accept="image/png, image/jpg, image/webp">
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Título do Produto 2</h2>
                <p class="card-description">Descrição.</p>
                <button class="card-button">Adicionar carrinho</button>
                <input type="file" name="foto_produto" accept="image/png, image/jpg, image/webp">
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Título do Produto 3</h2>
                <p class="card-description">Descrição.</p>
                <button class="card-button">Adicionar carrinho</button>
                <input type="file" name="foto_produto" accept="image/png, image/jpg, image/webp">
            </div>
        </div>

        <!-- Card 4 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Título do Produto 4</h2>
                <p class="card-description">Descrição.</p>
                <button class="card-button">Adicionar carrinho</button>
                <input type="file" name="foto_produto" accept="image/png, image/jpg, image/webp">
            </div>
        </div>

        <!-- Card 5 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Título do Produto 5</h2>
                <p class="card-description">Descrição.</p>
                <button class="card-button">Adicionar carrinho</button>
                <input type="file" name="foto_produto" accept="image/png, image/jpg, image/webp">
            </div>
        </div>

        <div class="categoria">
            <div class="categoria-content">
                <h2 class="categoria-title">Categorias</h2>

                <button>Materiais Escolares</button>
                <button>Materiais Téxteis</button>
                <button>Uniformes</button>
                <button>Ferramentas</button>
            </div>
        </div>
    </section>
</body>

</html>