<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Vendas AAPM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='apps/pvd/styles/base.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/icones/logosemtexto.png') }}?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <canvas id="particles"></canvas>
    
    <header class="topbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='apps/pvd/assets/icones/banner_aapm.png') }}" alt="banner">
        </div>

        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}"> Dashboard</a></li>
            </ul>
        </nav>

        <div class="topbar-space-balance"></div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <div class="background-image"></div>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='apps/pvd/scripts/base.js') }}"></script>
    
    {% block scripts %}
    {% endblock %}
</body>

</html>