<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - AAPM</title>

    <link rel="stylesheet" href="../styles/cadastro.css">
    <link rel="icon" type="image/png" href="../assets/icones/logosemtexto.png?v=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://googleapis.com">

    <script src="https://unpkg.com/lucide@latest"></script>

    <style>
        @media (prefers-reduced-motion: reduce) {

            *,
            *::before,
            *::after {
                animation-duration: .01ms !important;
                animation-delay: .01ms !important;
            }
        }
    </style>
</head>

<body>

    <canvas id="particles"></canvas>

    <div class="background-image"></div>

    <div class="blur blue"></div>
    <div class="blur orange"></div>

    <main class="container">

        <!-- LEFT -->
        <section class="left-side">

            <div class="brand">

                <div class="logo-box">
                    <img src="../assets/icones/logosemtexto.png" alt="Logo">
                </div>

                <div>
                    <h1>AAPM</h1>
                    <span></span>
                    <span>SENAI FRANCISCO MATARAZZO - SP</span>
                </div>

            </div>

            <div class="content">

                <p class="tag">
                    SISTEMA INSTITUCIONAL ADMINISTRATIVO
                </p>

                <h2>
                    Plataforma Administrativa
                    de Gestão Comercial
                </h2>

                <p class="text">
                    Centralize estoque, pedidos
                    e operações administrativas
                    em um ambiente seguro.
                </p>

                <div class="mini-cards">

                    <div class="mini-card">
                        <i data-lucide="shopping-cart"></i>
                        <span>Pedidos</span>
                    </div>

                    <div class="mini-card">
                        <i data-lucide="package"></i>
                        <span>Estoque</span>
                    </div>

                    <div class="mini-card">
                        <i data-lucide="bar-chart-3"></i>
                        <span>Relatórios</span>
                    </div>

                </div>

            </div>

        </section>

        <!-- RIGHT -->
        <section class="right-side">

            <div class="cadastro-card">

                <div class="line"></div>

                <div class="header">

                    <h3>Cadastro</h3>

                    <p>
                        Cadastre um usuário.
                    </p>

                </div>

                <form action="/auth/cadastro" id="cadastroForm">

                    <div class="input-box">

                        <i data-lucide="user"></i>

                        <input type="text" placeholder="Nome de usuário" required>

                    </div>

                    <div class="input-box">

                        <i data-lucide="mail"></i>

                        <input type="text" placeholder="Email" required>

                    </div>

                    <div class="input-box">

                        <i data-lucide="lock"></i>

                        <input type="password" placeholder="Senha" required>

                    </div>


                    <button class="cadastro-btn">
                        <span>Cadastrar</span>
                        <i data-lucide="arrow-right"></i>
                    </button>
                    <!-- {% if erro %}
                        <p style="color: red;">{{ erro }}</p>
                    {% endif %} -->
                </form>

                <div class="security">

                    <div class="dot"></div>

                    <span>
                        Ambiente seguro - © 2026 SENAI. Todos os direitos reservados.
                    </span>

                </div>

            </div>

        </section>

    </main>

    <script src="../scripts/cadastro.js"></script>

    <script>
        lucide.createIcons();
    </script>

</body>

</html>