<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Login</h1>

    {% if  request.query_params.get("cadastro") == "ok" %}
        <p style="color: green;">Cadastro realizado com sucesso! Faça login.</p>
    {% endif %}

    <form action="/auth/login" method="post">
        E-mail: <input type="email" name="email" required>
        <br><br>
        Senha: <input type="password" name="senha" required>
        <br><br>

        {% if erro %}
            <p style="color: red;">{{ erro }}</p>
        {% endif %}

        <button type="submit">Login</button>

    </form>

    <p>Não tem uma conta? <a href="/auth/cadastro">Cadastrar</a></p>
</body>
</html>